<div class="content">
  <h2>Olá {{ student_name }},</h2>
  <p>Seja bem vindo ao GymPoint, confira os detalhes da matrícula abaixo:</p>
  <p>
    <strong>Plano: </strong> {{ plan_name }} <br />
    <strong>Preço: </strong> R${{ price }} <br />
    <strong>Duração: </strong> de {{ start_date }} até {{ end_date }} <br />
    <p>
      Espero que faço um aproveito.
    </p>
  </p>
</div>
