<strong>Olá, {{ student_name }}</strong>
<p>Seja bem vindo ao GymPoint, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan_name }} <br />
  <strong>Preço: </strong> R${{ price }} <br />
  <strong>Duração: </strong> de {{ start_date }} até {{ end_date }} <br />
  <br />
  <p>
    Espero que faço um aproveito.
  </p>
</p>
